.video-title {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .video-stat {
    font-family: Arial;
    font-size: 12px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .video-author {
    font-family: Arial;
    font-size: 11px;
    color: rgb(85, 83, 83);
    margin-bottom: 20px;
  }
  .video-description {
    font-family: Arial;
    font-size: 14px;
    width: 280px;
    color: rgb(98, 98, 98);
    line-height: 16px;
    margin-top: 0px;
  }
  .shop-text{
    font-family: sans-serif;
    font-weight: 500;
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 12px;
  }
  .btn-text:hover{
    cursor: pointer;
    text-decoration: underline;
  }